body {
        background-image: url("http://kb4images.com/images/nice-wallpapers/37459405-nice-wallpapers.jpg");
}

#mainheading { 
    font-family:Helvetica, sans-serif;
    color: #d81515;
}

#p{
  font-family: Verdana, sans-serif;
  color: #ef0943;
  
}