body {
        background-image: url("http://kb4images.com/images/nice-wallpapers/37459405-nice-wallpapers.jpg");
} 

.mainheading{
    color:white;
    text-align: center;
    font-family: Helvetica;
}

a{
    text-decoration: none;
    color:white;
    font-family: Times
;
}

a:hover{
    color:red;
}


